# GammaJ
/*.properties
/*.ini

# Maven 
target/

# IntelliJ
*.iml
*.iws
*.ipr
.idea/

# Eclipse
.settings/
.classpath
.project

# NetBeans
nbactions.xml
nb-configuration.xml
nbactions-release-profile.xml

# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class